.container {
	width: 800px;
}

.header {
	width: 800px;
	height: 80px;
	background-color: blue;
}

.navbar {
	width: 12.5%;
	height: 600px;
	background-color: green;
	display: inline-block;
	float: left;
}

.gamearea {
	width: 87.5%;
	height: 600px;
	background-color: #E9E9D3;
	display: inline-block;
}

.card_container {
	position: relative;
	position: inline-block;
	width: 160px;
	height: 240px;
}

.card-front {
	position: absolute;
}

.card-back {
	position: absolute;
}

.cards {
	position: relative;
	display: inline-block;
	float: left;
	width: 160px;
	height: 240px;
}


