body {
	background-image: url(images/darkknightbackground2.jpg);
	background-size: 100%;
}



.container {
	width: 1020px;
	height: 100%;
	margin: 0 auto;
}

.header {
	width: 1020px;
	height: 80px;
	background-color: none;
}

.logo {
	width: 200px;
	height: 280px;
	display: inline-block;
}

.gametitle {
	width: 800px;
	height: 280px;
	display: inline-block;
}

.navbar {
	width: 200px;
	height: 550px;
	background-color: green;
	display: inline-block;
	float: left;
}

.gamearea {
	width: 1020px;
	height: 550px;
	/*background-color: #E9E9D3;*/
	display: inline-block;
}

.card_container {
	position: relative;
	display: inline-block;
	width: 126px;
	height: 171px;
	margin: 4px 0 0 4px ;
}

.card-front {
	position: absolute;
}

.card-back {
	position: absolute;
}

.card_container img {
	border-radius: 15px;
	width: 126px;
	height: 171px;
}


